.mainbody {
    background-color: #f3f591;
    color: rgb(6, 7, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.thefooter {
    background-color: rgb(196, 199, 22);
    
}