body {
    background-color: #f4f5cc;
    color: rgb(6, 7, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
footer {
    background-color: rgb(227, 135, 255);
    
}
.mainbody {
    background-color: #f4f5cc;
    color: rgb(6, 7, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.myStyle {
    background-color: coral;
    padding: 16px;
}